titanium.platform=/XXXXXXXXXXXXX/Titanium/mobilesdk/osx/3.1.3.GA/android
android.platform=/XXXXXXXXXXXXX/android-sdk-macosx/platforms/android-8
google.apis=/XXXXXXXXXXXXX/android-sdk-macosx/add-ons/addon-google_apis-google-8
android.ndk=/XXXXXXXXXXXXX/android-ndk-r9

